<div class="container view-task-container" *ngIf="!hasError">
  <div class="col-md-8">
    <h2>{{ taskObject?.title }}</h2>
    <p class="sheduled-time mb-3">Scheduled @ {{ taskObject?.schedule }}</p>
    <p>{{ taskObject?.description }}</p>
    <button type="button" class="btn btn-primary" [routerLink]="['/']">
      Back
    </button>
  </div>
</div>

<div  class="error-msg" *ngIf="hasError">
  <p>Something went wrong :(</p>
  <small>This error might be occurs when there is no matching record.</small>
</div>
